.checkout{
    font-weight: bold;
    color: white ; 
    text-align: center;
    background-color: #EB6C3C;
    font-size: 80px;
}

.book img{
    float: left;
    margin-right: 30px;
    margin-left: 20px;
    max-width: 300px;
    height: auto;
  
}

.details{
    font-family: 'Courier New', Courier, monospace;
}